table {
    width: 100%;
    overflow-y: scroll;
    height: 80%;
}
th, td {
    padding: 5px;
    /* border-bottom: 2px solid #ccc; */
}
th {
    background-color: #888;
    color: white;
}
tr:nth-child(even) {
    background-color: #ccc;
}