.charts-container{
    min-height: 100px;
    border: 10px black;
}



.charts-container{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 65% 35%;
    grid-template-areas: 
        "chart1 chart1 chart1"
        "chart2 chart3 chart4";
    row-gap: 4em;
    column-gap: 2em;

}

.chart1-container{
    grid-area: chart2;
}

.chart2-container{
    grid-area: chart3;
}

.chart3-container{
    grid-area: chart1;
}

.chart4-container{
    grid-area: chart4;
}