@model cosc3380_group4_themepark.CustomerModel
@{
}

<div>
    <h3>Welcome customer! Here you can purchase a ticket!</h3>

    <form method="post" asp-page-handler="BuyTicket">
        <input type="date" class="form-control" name="datetime" />
        <select class="form-control" name="ticketClass">
            <option selected>Choose...</option>
            <option value="Poor">Poor</option>
            <option value="Normal">Normal</option>
            <option value="Premium">Premium</option>
        </select>
        <button class="btn btn-lg btn-block btn-primary" type="submit">Buy Ticket</button>
    </form>

    @if (Model.TicketPurchaseSuccess)
    {
        <div>
            Success! We bought a ticket!
        </div>
    }
    else
    {
        <div>
            Failure! We didn't buy a ticket
        </div>
    }
</div>