@page
@model cosc3380_group4_themepark.Pages.AccessDeniedModel
@{
}

<div class="error-message">
    <h1>Access Denied</h1>
    <h3>You do not have access to this resource</h3>
    <h3><a href="/">Return to home</a></h3>
</div>