@page
@model AddEmployeeModel
@{
    <div>
        <h3>Adding Employee</h3>

        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
           

            <input type="radio" id="female" name="female_male" value="female">
            <label for="female">female</label><br>
            <input type="radio" id="" name="female_male" value="male">
            <label for="male">male</label><br>
                <input type="submit" value="Submit">
          

        </form>

     

   
    </div>


}

