@page
@model IndexModel
@using cosc3380_group4_themepark.Pages
@{
    ViewData["Title"] = "Home page";
}


<h4>Currently logged in as user @Model.name</h4>
<a asp-page-handler="Logout">Log out</a>

@if (Model.role == "Customer")
            {
                <div>
                    <a href="/Tickets">Ticket Reservations</a>
                </div>
            }
@if (Model.role == "Manager" || Model.role == "Maintenance_Manager")
{
    <div>
        <p><a href="/ManagerNotification">Employee Status Change Inbox</a></p>
    </div>
}
@if (Model.role == "Sales")
            {
               <div>
                    <p><a href="/Sales">Sales Dashboard</a></p>
                    <p><a href="/Merchandise">Merchandise Sales Report</a></p>
                    <p><a href="/AddMerchandise">Add Merchandise Form</a></p>
                   <p><a href="/TicketReport">Ticket Sales Analytics</a></p>
                   <p><a href="/AttractionReport">Ridership Report</a></p>
               </div>
            }
@if (Model.role == "Maintenance" || Model.role == "Maintenance_Manager")
            {
                <div>
                    <a href="/Maintenance_Calendar">Maintenance Ticket Form</a>
                </div>
            }
@if (Model.role == "Maintenance_Manager")
            {
                <div>
                    <a href="/MaintenanceNotification">Maintenance Update</a>
                </div>
            }