@page
@model IndexModel
@using cosc3380_group4_themepark.Pages
@{
    ViewData["Title"] = "Home page";
}

<h4>Currently logged in as user @Model.name</h4>
<a asp-page-handler="Logout">Log out</a>

@if (Model.role == "Manager")
            {
                <div><h3>We are management</h3></div>
            }
@if (Model.role == "Customer")
            {
                <div>
                    <a href="/Tickets">Ticket Reservations</a>
                </div>
            }
@if (Model.role == "Sales")
            {
               <div>
                    <a href="/Sales">Sales Dashboard</a>
               </div>
            }

