@page
@model IndexModel
@using cosc3380_group4_themepark.Pages
@{
    ViewData["Title"] = "Home page";
}


@section LeftNavLinks {
    <ul class="nav-links customer-facing-nav-links">
        <li><a class="nav-item" href="#park-events">Park Events</a></li>
        <li><a class="nav-item" href="#tickets">Tickets</a></li>
        <li><a class="nav-item" href="#about">About</a></li>
    </ul>
}

@section RightNavLinks{
    <li>

        @if ((Model.role != "Customer") && (Model.role != null) && (Model.role != "")){
            Console.WriteLine(Model.role);
            <a class="nav-item" asp-page="/Internal">Internal</a>
        }
    </li>
    @*<li>
        <div class="drop-down-container">
            @{
                if ((Model.role != null) && (Model.role != ""))
                {
                        <button class="nav-item drop-down-button" href="">Sign In</button>
                }
                else
                {
                        <button class="nav-item drop-down-button" href="">Sign Out</button>
                }
            }
            <div class="drop-down-menu">
                
                @{
                    if(Model.role != null){
                        <h1>sign out</h1>
                    }
                    else{
                        <partial name="Login" model=@Model.models.login />
                    }
                }
            </div>
        </div>
    </li>*@
    <li>
        <div class="drop-down-container">
            <button class="nav-item drop-down-button" href="">Sign In</button>
            <div class="drop-down-menu">
                <partial name="Login" model=@Model.models.login />
                <a style="color: black;" asp-page="/Index" asp-page-hander="Logout">Sign Out</a>
            </div>  
        </div>
    </li>
}



@*@section SignInForm {
    <partial name="Login" model=@Model.models.login/>
    if(Model.role != null){
        <div class="drop-down-menu">
            <partial name="Login" model=@Model.models.login />
        </div>
    }
}*@


<main>
    <div class="hero">
        <video autoplay="" id="heroVideo" loop="" muted="" poster="./static_files/images/HeroPicture.jpg">
            <source src="/media/BackgroundHeroVideo.mp4" type="video/mp4" />
        </video>
        <div class="hero-text">
            <h1 class="logo">WELCOME</h1>
            <p class="">Visit Our Theme Park</p>
        </div>
    </div>
    <section id="park-events" class="info-section">
        <div class="info-section-area info-section-area-1">
            <h1 class="info-section-title">Park Events</h1>
        </div>
        <div class="info-section-area info-section-area-2">
            <p>Scrollable div of park events</p>
        </div>
    </section>
    <div class="info-section static-image img1"></div>
    <section id="tickets" class="info-section">
        <div class="info-section-area info-section-area-2">
            <h1>Tickets</h1>
            <p>Buy or Reserve now!</p>
            

        </div>
        <div class="info-section-area info-section-area-1">
            <p>Form to buy tickets</p>
                <a href="/Tickets">Click here</a>

        </div>
    </section>
    <div class="info-section static-image img2"></div>
    <section id="about" class="info-section">
        <div class="info-section-area info-section-area-1">
            <h1>About</h1>
        </div>
        <div class="info-section-area info-section-area-2">
            <p>This website is a class project by Team 4 of the COSC 3380 class of Spring 2022 at University of Houston</p>            
        </div>
    </section>
</main>
@*=======
﻿@page
@model IndexModel
@using cosc3380_group4_themepark.Pages
@{
    ViewData["Title"] = "Home page";
}

@section NavbarItems
{
    @if (Model.role == "Manager" || Model.role == "Maintenance_Manager")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ManagerNotification">Employee Notifications</a>
        </li>
    }
    @if (Model.role == "HR")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AddEmployee">Add Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeSchedule">Employee Schedule</a>
        </li>        
    }
    @if (Model.role == "Sales")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Sales">Sales Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/TicketReport">Ticket Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AttractionReport">Ride Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AddMerchandise">Merchandise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Merchandise">Merchandise Report</a>
        </li>
    }
    @if (Model.role == "Customer")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Tickets">Ticket Reservations</a>
        </li>
    }
    @if (Model.role == "Maintenance" || Model.role == "Maintenance_Manager")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Maintenance_Calendar">Maintenance Calendar</a>
        </li>        
    }
    @if (Model.role == "Maintenance_Manager")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/MaintenanceNotification">Maintenance Updates</a>
        </li>
    }
}

<h4>Currently logged in as user @Model.name</h4>
<a asp-page-handler="Logout">Log out</a>
>>>>>>> 4763538c37183ceb338713eaf70536333de7f736
*@