@page
@model cosc3380_group4_themepark.Pages.InternalModel

@{
}
@section RightNavLinks{
    <li>
        @if ((Model.role != "Customer") && (Model.role != null) && (Model.role != ""))
        {
            <a class="nav-item" asp-page="/Internal">Internal</a>
        }
    </li>
    @*<li>
        <div class="drop-down-container">
            @{
                if ((Model.role != null) && (Model.role != ""))
                {
                        <button class="nav-item drop-down-button" href="">Sign In</button>
                }
                else
                {
                        <button class="nav-item drop-down-button" href="">Sign Out</button>
                }
            }
            <div class="drop-down-menu">

                @{
                    if(Model.role != null){
                        <h1>sign out</h1>
                    }
                    else{
                        <partial name="Login" model=@Model.models.login />
                    }
                }
            </div>
        </div>
    </li>*@
    <li>
        <div class="drop-down-container">
            <button class="nav-item drop-down-button" href="">Sign In</button>
            <div class="drop-down-menu">
                <partial name="Login" model=@Model.viewModels.login />
                <a style="color: black;" asp-page="/Index" asp-page-hander="Logout">Sign Out</a>
            </div>
        </div>
    </li>
}



<main id="internal-main">
    <aside id="sidebar">
        <ul id="side-links">
            @if (Model.role == "Manager" || Model.role == "Maintenance_Manager")
            {
                <li><a class="nav-link text-dark" asp-area="" asp-page="/ManagerNotification">Employee Notifications</a></li>
            }
            @if (Model.role == "HR")
            {
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/AddEmployee">Add Employee</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/EmployeeSchedule">Employee Schedule</a></li>
            }
            @if (Model.role == "Sales")
            {
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Sales">Sales Report</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/TicketReport">Ticket Report</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/AttractionReport">Ride Report</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/AddMerchandise">Merchandise</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Merchandise">Merchandise Report</a></li>
            }
            @if (Model.role == "Customer")
            {
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Tickets">Ticket Reservations</a></li>
            }
            @if (Model.role == "Maintenance" || Model.role == "Maintenance_Manager")
            {
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Maintenance_Calendar">Maintenance Calendar</a></li>
            }
            @if (Model.role == "Maintenance_Manager")
            {
                <li><a class="nav-link text-dark" asp-area="" asp-page="/MaintenanceNotification">Maintenance Updates</a></li>
            }
            @*<li><a href="?_year=@Model.year&_currPage=Sales">Sales</a></li>
            <li><a href="?_year=@Model.year&_currPage=Merchandise">Merchandise</a></li>
            <li><a href="?_year=@Model.year&_currPage=Tickets">Tickets</a></li>
            <li><a href="?_year=@Model.year&_currPage=Employees">Employees</a></li>
            <li><a href="?_year=@Model.year&_currPage=Maintenance">Maintenance</a></li>*@
        </ul>
    </aside>
    <div id="internal-main-body">
    <h1>Welcome @Model.role</h1>
    @{
        switch(Model.currPage)
        {
            case InternalPages.Merchandise:
                <partial name="Login" model="new LoginModel()"/>
                break;
            case InternalPages.Tickets:
                <partial />
                break;
            default:
                <partial name="Sales" model=@Model.viewModels.sales/>
                break;
        }
        }
        
    </div>
</main> 