@page
@model cosc3380_group4_themepark.Pages.LoginModel
@{
}

<h3>Login</h3>

<form method="post" asp-page-handler="Login">
    <div class="form-row">
        <input type="text" name="username" placeholder="Username" required />
    </div>
    <div class="form-row">
        <input type="password" name="password" placeholder="Password" required />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>

<h7>Not a user yet? <a href="/Register">Sign up today!</a></h7>