@model cosc3380_group4_themepark.Pages.LoginModel

@{
}


<h1 style="color: black">Sign In</h1>
<form id="login-form" method="post" asp-page-handler="Login">
    <div class="form-row">
        <input type="text" name="username" placeholder="Username" asp-for=@Model.username required />
    </div>
    <div class="form-row">
        <input type="password" name="password" placeholder="Password" asp-for=@Model.password required />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>
