@model cosc3380_group4_themepark.Pages.LoginModel

@{
}


<h1 style="color: black">Sign In</h1>
<form id="login-form" method="post" asp-page-handler="Login">
    <input type="text" name="username" placeholder="Username" asp-for=@Model.username required />
        <input type="password" name="password" placeholder="Password" asp-for=@Model.password required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <h7>Not a user yet? <a href="/Register">Sign up today!</a></h7>
</form>
