@page
@model cosc3380_group4_themepark.Pages.Maintenance_CalendarModel
@{
    ViewData["Title"] = "Maintenance Calendar";
}
<h1>Create Maintenance Job</h1>
<form method="post" asp-page-handler="CreateTicket">
    <div class="form-row">
 @*       <div class="col">
            <label for="Vendor_ID">  Vendor Name</label><br>
            <input type="text" class="form-control" name="Vendor_ID" />
        </div>
 *@       <div class="col">
            <label for="Vendor_ID">  Vendor Name</label><br>
            <select class="form-control" name="Vendor_ID">
                @foreach (var vendor in Model.vendors)
                {
                    <option value=@vendor.vendor_id>@vendor.name</option>
                }
            </select>
        </div>
        <div class="col">
            <label for="Attraction_ID">  Attraction Name</label><br>
            <input type="text" class="form-control" name="Attraction_ID" />
        </div>
        <div class="col">
            <label for="Occurence_datetime">  Occurence Date</label><br>
            <input type="date" class="form-control" name="Occurence_datetime" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="Priority">  Priority</label><br>
            <select class="form-control" name="Priority">
                <option value = "Not Urgent">Not Urgent</option>
                <option value ="Urgent">Urgent</option>
                <option value ="ASAP">ASAP</option>
            </select>
        </div>
        <div class="col">
            <label for="Maint_Description">  Description</label><br>
            <input type="text" class="form-control" name="Maint_Description" />
        </div>
        <div class="col">
            <label for="Maint_Start">  Start of Maintenance</label><br>
            <input type="date" class="form-control" name="Maint_Start" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Submit"/>
    </div>
</form>

<h1>Close Maintenance Job</h1>
<form method="post" asp-page-handler="CloseTicket">
    <div class="form-row">
        <div class="col">
            <label for="Maint_ID">  Maintenance ID</label><br>
            <input type="text" class="form-control" name="Maint_ID" />
        </div>
        <div class="col">
            <label for="Maint_Completion">  Maintenance Completion Time</label><br>
            <input type="date" class="form-control" name="Maint_Completion" />
        </div>
        <div class="col">
            <label for="Billed_Hours">  Hours Taken</label><br>
            <input type="text" class="form-control" name="Billed_Hours" />
        </div>
        <div class="col">
            <label for="Invoice_amount"> Cost of job</label><br>
            <input type="text" class="form-control" name="Invoice_amount" />
        </div>
        <!--<div class="col">
            <input type="file" class="form-control" placeholder="Scanned Invoice" name="Scanned_invoice" />
        </div>-->
    </div>
    <div class="form-row">
        <div class="col">
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>