@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model MerchandiseModel
@{
    ViewData["Title"] = "Merchandise Request";
}




<form method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Start Date" name="sdate" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="End Date" name="edate" />
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Submit" asp-page-handler="Submit" />
    </div>
</form>

<div class="customer-output-section">
    <h3>Merchandise Report</h3>
    @if (@Model.MyMerch.Count > 0)
    {
        <ul>
            @foreach (MerchandiseRow merch in Model.MyMerch)
            {
                <li>
                    @merch.itemName,@merch.numSold,@merch.price,@merch.itemRevenue
                </li>
            }
        </ul>
    }
</div>