@page
@model cosc3380_group4_themepark.Pages.TicketReportModel
@using System.Text.Json
@{
    int i = 0;
}

@section NavbarItems
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Sales">Sales Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/TicketReport">Ticket Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AttractionReport">Ride Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AddMerchandise">Merchandise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Merchandise">Merchandise Report</a>
    </li>    
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="/css/TicketReport.css">
<div class="sales-container">
    <h1 style="padding-bottom: 20px;">Ticket Sales Analytics</h1>
    <div class="dashboard-wrapper">
        <div class="main1-chart-wrapper chart-wrapper">
            <h2>Average ticket sales by day of week this year</h2>
            <div style="flex-grow: 1;">
                <canvas id="main1-chart"></canvas>
            </div>
        </div>
        <div class="main2-chart-wrapper chart-wrapper">
            <canvas id="main2-chart"></canvas>
        </div>
        <div class="main3-chart-wrapper chart-wrapper">
            <canvas id="main3-chart"></canvas>
        </div>
    </div>
</div>

<script
    src="/js/TicketReport.js" 
    type="text/javascript" 
    weekday_breakdown_this_year=@JsonSerializer.Serialize(Model.thisYearTicketsAverage)
    weekday_breakdown_last_year=@JsonSerializer.Serialize(Model.previousYearTicketsAverage)
    this_week_this_year=@JsonSerializer.Serialize(Model.thisWeekThisYearTickets)
    this_week_last_year=@JsonSerializer.Serialize(Model.thisWeekLastYearTickets)
></script>
